.burgerBackground {
  background-image: url("../img/burger_bg.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-top: 40px;
  margin: 0em;
  width: 100%;
  height: auto;
}

.jumbotron {
  margin-bottom: 0rem;
  background-color: #ebe8c1;
}

.card {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  opacity: 0.8;

}

.card-header {
  font-weight: bolder;
}

li {
  line-height: 40px;
}
h1 {
  color: #54110b;
  text-align: center;
}
